/* Variáveis */
:root{
    --CorDoSite: rgb(173, 173, 173);
}
/* Chamar o corpo */
body{
    background-color: var(--CorDoSite); /*<-- Chamar a variável de cor */
}
/* Chamar a imagem */
img{
    width: 20%;
}

header{    
    display: flex;
    align-items: center;}

section{
        display:flex;
        border-radius: 10px;
        border-style: double;
        border-color: rgb(0, 0, 0);
        
    }

.creators{
    display: block;
margin: 0 50%;
}